<div class="grid">
    <div class="col-12 md:col-12">
        <div class="card p-fluid">
            <h2>{{ addConctactFields.title }}</h2>
            <form [formGroup]="treatmentPlanForm">
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label htmlFor="name">{{
                            addConctactFields.name
                        }}</label>
                        <input
                            formControlName="name"
                            pInputText
                            id="name"
                            type="text"
                        />
                    </div>
                    <div class="field col">
                        <label htmlFor="patient">{{
                            addConctactFields.patientName
                        }}</label>
                        <p-autoComplete
                            formControlName="patientName"
                            [suggestions]="filteredPatients"
                            (completeMethod)="filter($event)"
                            field="name"
                        ></p-autoComplete>
                    </div>
                </div>
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label htmlFor="address">{{
                            addConctactFields.description
                        }}</label>
                        <input
                            formControlName="description"
                            pInputText
                            id="description"
                            type="text"
                        />
                    </div>
                    <div class="field col">
                        <label htmlFor="date">{{
                            addConctactFields.date
                        }}</label>
                        <p-calendar
                            formControlName="date"
                            [showIcon]="true"
                            dateFormat="dd/mm/yy"
                        ></p-calendar>
                    </div>
                </div>
            </form>
            <div *ngIf="!isFormValid">
                <p style="color: red">Vérifier les informations entrées!</p>
            </div>

            <div class="col-8 md:col-2">
                <p-button
                    (onClick)="onSubmit()"
                    label="Enregistrer"
                    type="submit"
                ></p-button>
            </div>
        </div>
    </div>
</div>
